/* 
 Google Fonts
 font-family: 'Open Sans', sans-serif;
 font-family: 'Poppins', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500;600&display=swap');

/* 
 Basic css
 
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    /* color: #646464; */
}
h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    color: #212121;
}

.theme-button {
    font-size: 18px;
    font-weight: 600;
    background-color: #37806B;
    color: #fff;
    text-decoration: none;
    border-radius: 20px 0px;
    padding: 10px 20px;
    transition: 0.3s;
    display: inline-block;
    margin-top: 20px;
}

.theme-button:hover {
    background-color: #CAA892;
    color: #fff;
}
.design-image {
    position: relative;
    z-index: 1;
    border-radius: 140px 0;
}
.design-image::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 20px;
    border: 2px solid #CAA892;
    width: 100%;
    height: 100%;
    border-radius: 140px 0;
    z-index: -1;
}
/* Header css */
.header-area .nav-item {
    margin-left: 30px;
}
.header-area .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    color: #111;
    font-size: 17px;
}
.header-area .nav-item .nav-link.active {
    color: #646464;
}
.header-area .nav-item:last-child .nav-link {
    background-color: #CAA892;
    text-transform: capitalize;
    color: #fff;
    border-radius: 20px 0px;
    padding: 10px 20px;
    margin-left: 35px;
}

@media (max-width: 991px) {
    .header-area .nav-item:last-child .nav-link {
        margin-left: 0;
        /* border-radius: 10px; */
    }
    .header-area .nav-item:last-child .nav-link {
        margin-left: 0;
        border-radius: 10px;
        margin-top: 10px;
        text-align: center;
    }
}

/* 
 hero-area css
*/
.hero-area {
    padding: 70px 0;
}
.hero-text {

}
.hero-text h3 {
    color: #646464;
    font-size: 20px;
    text-transform: uppercase;
}
.hero-text h2 {
    text-transform: capitalize;
    font-size: 70px;
    
    font-weight: 500;

}
.hero-img {

}

/* 
 Footer css
*/

.footer-area {
    background-color: #F8F8F8;
    /* border-top: 1px solid #111; */
    position: relative;
}

.footer-top {
    padding: 90px 0 70px;
}
.footer-about {
    font-size: 17px;
    color: #646464;
}
.footer-about img {
    margin-bottom: 20px;
}
.footer-link h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #212121;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.footer-link ul {
    margin: 0;
    padding: 0;
}
.footer-link ul li {
    list-style: none;
    margin-bottom: 15px;
}
.footer-link ul li a {
    text-decoration: none;
    color: #646464;
    font-size: 17px;
    transition: background 0.5s;
}
.footer-link ul li a:hover {
    color: #37806B;
}

.footer-link address {
    color: #646464;
    line-height: 1.7;
}

.footer-link address a {
    color: #646464;
    margin: 5px 0;
    display: inline-block;
    text-decoration: none;
}

.social-link li {
    display: inline;
    
}
.social-link li a {
    display: inline-block;
    padding: 10px;
    background-color: #D5D5D5;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    color: #fff;
    transition: background 0.5s;


}
.social-link li a:hover, 
.social-link li a.active{
    background-color: #37806B;
}
.social-link li a i {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #C4C4C4;
    padding: 15px 0;
}

.footer-bottom-txt p {
    color: #646464
}
.footer-bottom-txt a {
    text-decoration: none;
    color: #37806B;
    font-weight: 600;
}

.design {
    position: absolute;
    top: -76px;
}
.design img {
    width: 212px;
    height: 153px;
}

@media (max-width: 991px) {
    .footer-about {
        text-align: center;
    }
   .footer-link {
    text-align: center;
   } 
}