/* 
 Google Fonts
 font-family: 'Open Sans', sans-serif;
 font-family: 'Poppins', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap');

/* 
 Basic css
 
*/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    /* color: #646464; */
}
h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    color: #212121;
}

.theme-button {
    font-size: 18px;
    font-weight: 600;
    background-color: #37806B;
    color: #fff;
    text-decoration: none;
    border-radius: 20px 0px;
    padding: 10px 20px;
    transition: 0.3s;
    display: inline-block;
    margin-top: 20px;
}

.theme-button:hover {
    background-color: #CAA892;
    color: #fff;
}
.design-image {
    position: relative;
    z-index: 1;
    
}
.design-image img {
    border-radius: 140px 0;
}
.design-image::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 20px;
    border: 2px solid #CAA892;
    width: 100%;
    height: 100%;
    border-radius: 140px 0;
    z-index: -1;
}
.design-image-two {
    position: relative;
    z-index: 1;
    border-radius: 140px 0;
}
.design-image-two img {
    border-radius: 140px 0;
}
.design-image-two::after {
    position: absolute;
    content: "";
    top: -20px;
    left: -20px;
    border: 2px solid #CAA892;
    width: 100%;
    height: 100%;
    border-radius: 140px 0;
    z-index: -1;
}
.section-heading h4{
    text-transform: uppercase;
    color: #646464;
    font-size: 20px;
}
.section-heading h3 {
    text-transform: capitalize;
    font-size: 48px;
    font-weight: 600;
}
.design-text h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 288px;
    font-weight: 700;
    background-image: url("assets/img/success-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}

/* Header css */
.header-area .nav-item {
    margin-left: 15px;
}
.header-area .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    color: #111;
}
.header-area .nav-item .nav-link.active {
    color: #646464;
}
.header-area .nav-item:last-child .nav-link {
    background-color: #CAA892;
    text-transform: capitalize;
    color: #fff;
    border-radius: 20px 0px;
    padding: 10px 20px;
    margin-left: 35px;
}

@media (max-width: 991px) {
    .header-area .nav-item:last-child .nav-link {
        margin-left: 0;
        /* border-radius: 10px; */
    }
    .header-area .nav-item:last-child .nav-link {
        margin-left: 0;
        border-radius: 10px;
        margin-top: 10px;
        text-align: center;
        }
}

/* 
 hero-area css
*/
.hero-area {
    padding: 70px 0;
}
.hero-text {

}
.hero-text h3 {
    color: #646464;
    font-size: 20px;
    text-transform: uppercase;
}
.hero-text h2 {
    text-transform: capitalize;
    font-size: 70px;
    
    font-weight: 500;

}


/* 
 Services area css
 */

.service-area {
    padding: 100px 0;
    position: relative;
}
.service-list {
    margin-top: 60px;
    position: relative;
}
.single-service {
    /* padding: 40px 20px 40px 35px; */
    background: #FFFFFF;
    /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14); */

    border-radius: 60px 0px;
    transition: 0.3s;
}
.service-image {
    margin-right: 25px;
}
.service-image img {
    width: 40px !important;
    height: 40px !important;
    display: block;
}
.service-text h3 {
    font-weight:400;
    font-size: 24px;
}
.service-text p {
    font-weight: 600;
    color: #646464;
    margin: 0;
}
.single-service:hover {
    background-color: #CAA892;
    cursor: pointer;
    color: #fff;
}
.single-service:hover .service-text h3,
.single-service:hover .service-text p {
    color: #fff;
}
.service-list .owl-nav {
    position: absolute;
    right: 0;
    top: -90px;
}
.service-list .owl-nav button {
    width: 30px;
    height: 30px;
    background-color: #fff !important;
    color: #646464 !important;
    text-align: center;
    border-radius: 100%;
    margin-left: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: 0.3s;
}
.service-list .owl-nav button:hover {
    background-color: #37806B !important;
    color: #fff !important;
}


/* 
 about area css
*/
.about-area {
    padding: 100px 0;
}


/* 
 success area css
*/
.success-area {
    padding: 100px 0;
    position: relative;
}

/* 
 Work area css
*/
.work-area {
    background-color: #f8f8f8;
    padding: 100px 0;
}
.work-list {
    margin-top: 100px;
}
.single-work {
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-work-txt {
    background: #fff;
    box-shadow: 0px 13px 16px rgba(0,0,0, 0.1);
    border-radius: 40px 0;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
}
.single-work-txt::after {
    position: absolute;
    content: "";
    height: 100px;
    width: 65px;
    z-index: -1;
    right: -65px;
    top: 100px;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
}
.single-work-txt.special::after {
    left: -65px;
    top: 100x;
    border-right: none;
}
.single-work-txt h3 {
    font-weight: 600;
    font-size: 50px;
}
.single-work-txt span {
    font-weight: 700;
}
.special {
    margin-top: 100px;
}

/* 
 Testimonials area
*/
.testimonial-area {
    padding: 100px 0;
    position: relative;
}
.all-testimonial {
    margin-top: 70px;
    position: relative;
}
.all-testimonial .owl-nav {
    position: absolute;
    right: 0;
    top: -90px;
}
.all-testimonial .owl-nav button {
    width: 30px;
    height: 30px;
    background-color: #fff !important;
    color: #646464 !important;
    text-align: center;
    border-radius: 100%;
    margin-left: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: 0.3s;
}
.all-testimonial .owl-nav button:hover {
    background-color: #37806B !important;
    color: #fff !important;
}
.single-testimonial {
 padding: 20px;
}
.testimonial-content {
    display: flex;
    /* background-color: rgba(0, 255, 200, 0.922); */
    padding: 40px;
    padding-left: 0;
    position: relative;
    z-index: 1
}
.testimonial-content::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 65px;
    background-color: #CAA892;
    z-index: -1;
    background-color: #fff;
    box-shadow: 7px 7px 10px 5px rgba(0, 0, 0, .15);
    border-radius: 70px 0;
}
.testimonial-img {
    margin-right: 20px;
}
.testimonial-img img {
    width: 130px !important;
    height: 130px !important;
}
.testimonial-text h3 {
    font-size: 24px;
}
.testimonial-text h3 span {
    font-size: 16px;
    color: #646464;
}
.quote-icon {
    position: absolute;
    right: 40px;
    top: 40px;
}

/* 
 Blog area
*/
.blog-area {
    background-color: #F8F8F8;
    padding: 100px 0;
}
.blog-area .section-heading {
    margin-bottom: 70px;
}
.blog-text {
    margin-top: 40px;
}

/* 
 Signup area
*/
.signup-area {
    padding: 180px 0;
    background-color: #fff;
}
.signup-text h3 {
    font-size: 48px;
    position: relative;
    margin-bottom: 22px;
    padding-bottom: 22px;
}
.signup-text h3::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 400px;
    background-color: #C4C4C4;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.signup-text p {
    margin-bottom: 45px;
}
.signup-area form input[type="text"] {
    background-color: #eee;
    border: none;
    font-size: 20px;
    border-radius: 20px 0 0 0;
    padding: 10px 15px;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
.signup-area button {
    border: none;
    background-color: #37806B;
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 0 0 20px 0;

}
.signup-area button:hover {
    background-color: #CAA892;
}

/* 
 Footer css
*/

.footer-area {
    background-color: #F8F8F8;
    /* border-top: 1px solid #111; */
    position: relative;
}

.footer-top {
    padding: 90px 0 70px;
}
.footer-about {
    font-size: 17px;
    color: #646464;
}
.footer-about img {
    margin-bottom: 20px;
}
.footer-link h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #212121;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.footer-link ul {
    margin: 0;
    padding: 0;
}
.footer-link ul li {
    list-style: none;
    margin-bottom: 15px;
}
.footer-link ul li a {
    text-decoration: none;
    color: #646464;
    font-size: 17px;
    transition: background 0.5s;
}
.footer-link ul li a:hover {
    color: #37806B;
}

.footer-link address {
    color: #646464;
    line-height: 1.7;
}

.footer-link address a {
    color: #646464;
    margin: 5px 0;
    display: inline-block;
    text-decoration: none;
}

.social-link li {
    display: inline;
    
}
.social-link li a {
    display: inline-block;
    padding: 10px;
    background-color: #D5D5D5;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    color: #fff;
    transition: background 0.5s;


}
.social-link li a:hover, 
.social-link li a.active{
    background-color: #37806B;
}
.social-link li a i {
    color: #fff;
}

.footer-bottom {
    border-top: 1px solid #C4C4C4;
    padding: 15px 0;
}

.footer-bottom-txt p {
    color: #646464
}
.footer-bottom-txt a {
    text-decoration: none;
    color: #37806B;
    font-weight: 600;
}

.design {
    position: absolute;
    top: -76px;
}
.design img {
    width: 212px;
    height: 153px;
}

@media (max-width: 991px) {
    .footer-about {
        text-align: center;
    }
   .footer-link {
    text-align: center;
   } 
}


